<ul class="nav nav-pills nav-stacked">
    {% for skill in listSkills %}
        <li>
            <a href="{{ path('sms_view_skill', {'skill': skill}) }}">
                {{ skill.name }}
            </a>
        </li>
    {% endfor %}
</ul>
